.App {
  text-align: center;
}

.App_logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 100vmin;
  pointer-events: none;
}

.App_model {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 90vmin;
  pointer-events: none;
}

.App_header {
  background-color: white ;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App_link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
